[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=Compass
Exec=/opt/usr/bin/compass/compass
Icon=/usr/share/icons/hicolor/64x64/apps/compass.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
